[hidden] {
  display: none;
}

.table-container {
  ::ng-deep {
    tr {
      cursor: pointer !important;
    }
  }
}

:host {

  .input-group-sm>.form-control,
  .input-group-sm>.input-group-prepend>.input-group-text,
  .input-group-sm>.input-group-append>.input-group-text,
  .input-group-sm>.input-group-prepend>.btn,
  .input-group-sm>.input-group-append>.btn {
    height: 100%;
    line-height: 0.5625rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  .ns-finder {
    button.btn-advanced {
      padding: 0 0.25rem;
      // border-right: 0;
      // background: #fdfeff;
      // border-color: #cccccc;

      &.focus {
        // border-color: #cccccc;
      }
    }

    input.input-code {
      width: 4.2rem;
      padding: .3rem 0.25rem .3rem 0.3rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      // border-left: 0;
    }

    input.input-description {
      padding: .3rem 0.25rem;

    }
  }

  .results {
    border: 1px solid #ccc;
    margin-top: .1rem;
    border-bottom-left-radius: 0.1875rem;
    border-bottom-right-radius: 0.1875rem;
    position: absolute;
    z-index: 100;
    width: 100%;
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.25rem 0;

    .list-group-item:not(.list-group-divider) {
      padding: 0.1rem .2rem;

      .text-muted:not(.text-muted-label) {
        margin-top: -4px;
      }

      &.empty-description {
        padding: 0.4rem 0.5rem !important;
      }

    }

    .list-group-item-active,
    .list-group-item-action:hover,
    .list-group-item-action:focus {
      color: #333;
      text-decoration: none;
      background-color: #f0f0f0;
    }

    .list-group-divider {
      margin: 0.1rem 0;
    }

    span.label {
      line-height: 1;
    }

    small.description {
      line-height: 0.95rem;
      font-size: 70%;
    }
  }
}
