<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md d-block d-md-none">
  <!-- Sidebar content -->
  <div class="sidebar-content">
    <!-- Main navigation -->
    <div class="card card-sidebar-mobile">
      <ul class="nav nav-sidebar" data-nav-type="accordion">
        <li class="nav-item nav-item-submenu">
          <a href="" class="nav-link custom">
            <span href="#" class="sidebar-mobile-main-toggle">
              <i class="icon-arrow-left8"></i>
            </span>
            <span>Nisira</span>
            <span href="#" class="sidebar-mobile-expand">
              <i class="icon-screen-full"></i>
              <i class="icon-screen-normal"></i>
            </span>
          </a>
          <ul class="nav nav-group-sub" data-submenu-title="Sidebars">
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Gestion de Compras</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Almacenes</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Gestion de Ventas</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Cuentas por Cobrar</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Cuentas por Pagar</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Caja y Bancos</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Activos Fijos</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Control Presupuestal</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Contabilidad</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Recursos Humanos</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Producción</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Calidad</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Cosecha</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Fertilización y Riego</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Mauqinaria</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Fitosanidad</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Mantenimiento</a></li>

            <li class="nav-item nav-item-submenu">
              <a href="#" class="nav-link">Más opciones</a>
              <ul class="nav nav-group-sub">
                <li class="nav-item"><a href="sidebar_default_collapse.html" class="nav-link">Opcion con detalle</a>
                </li>
                <li class="nav-item"><a href="sidebar_default_hide.html" class="nav-link">Contenido 1</a></li>
                <li class="nav-item"><a href="sidebar_default_hidden.html" class="nav-link">Contenido 2</a></li>
                <li class="nav-item"><a href="sidebar_mini_collapse.html" class="nav-link">Contenido 3</a></li>
                <li class="nav-item"><a href="sidebar_mini_hide.html" class="nav-link">Contenido 4</a></li>
                <li class="nav-item"><a href="sidebar_mini_hidden.html" class="nav-link">Despliegame</a>
                  <ul class="nav nav-group-sub">
                    <li class="nav-item"><a href="sidebar_default_collapse.html" class="nav-link">Opcion con detalle</a>
                    </li>
                    <li class="nav-item"><a href="sidebar_default_hide.html" class="nav-link">Contenido 1</a></li>
                    <li class="nav-item"><a href="sidebar_default_hidden.html" class="nav-link">Contenido 2</a></li>
                    <li class="nav-item"><a href="sidebar_mini_collapse.html" class="nav-link">Contenido 3</a></li>
                    <li class="nav-item"><a href="sidebar_mini_hide.html" class="nav-link">Contenido 4</a></li>
                    <li class="nav-item"><a href="sidebar_mini_hidden.html" class="nav-link">Contenido 5</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <!-- User menu -->
          <div class="sidebar-user">
            <div class="card-body">
              <div class="media">
                <div class="mr-3">
                  <a href="#"><img src="/static/images/placeholders/placeholder.jpg" width="38" height="38"
                      class="rounded-circle" alt=""></a>
                </div>

                <div class="media-body">
                  <div class="media-title font-weight-semibold">Nisira</div>
                  <div class="font-size-xs opacity-50">
                    <i class="far fa-user pr-1"></i> Administrador
                  </div>
                </div>

                <div class="ml-3 align-self-center">
                  <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                </div>
              </div>
            </div>
          </div>
          <!-- /user menu -->


        </li>
        <li class="nav-item nav-item-submenu">
          <a href="" class="nav-link">Tablas</a>
          <ul class="nav nav-group-sub" data-submenu-title="Sidebars">
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 01</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 02</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 03</a></li>
          </ul>
        </li>
        <li class="nav-item nav-item-submenu">
          <a href="" class="nav-link">Movimientos</a>
          <ul class="nav nav-group-sub" data-submenu-title="Sidebars">
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 01</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 02</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 03</a></li>
          </ul>
        </li>
        <li class="nav-item nav-item-submenu">
          <a href="" class="nav-link">Reportes</a>
          <ul class="nav nav-group-sub" data-submenu-title="Sidebars">
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 01</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 02</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 03</a></li>
          </ul>
        </li>
        <li class="nav-item nav-item-submenu">
          <a href="" class="nav-link">Procesos</a>
          <ul class="nav nav-group-sub" data-submenu-title="Sidebars">
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 01</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 02</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 03</a></li>
          </ul>
        </li>
        <li class="nav-item nav-item-submenu">
          <a href="" class="nav-link">Ventana</a>
          <ul class="nav nav-group-sub" data-submenu-title="Sidebars">
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 01</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 02</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 03</a></li>
          </ul>
        </li>
        <li class="nav-item nav-item-submenu">
          <a href="" class="nav-link">Utilitarios</a>
          <ul class="nav nav-group-sub" data-submenu-title="Sidebars">
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 01</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 02</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 03</a></li>
          </ul>
        </li>
        <li class="nav-item nav-item-submenu">
          <a href="" class="nav-link">Ayuda</a>
          <ul class="nav nav-group-sub" data-submenu-title="Sidebars">
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 01</a></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 02</a></li>
            <li class="nav-item-divider"></li>
            <li class="nav-item"><a href="sidebar_components.html" class="nav-link">Subitem 03</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /main navigation -->

  </div>
  <!-- /sidebar content -->

</div>
<!-- /main sidebar -->