$blue: #4B91FE;

$white-text: white;
$black-text: black;

$theme-dark: #323232;
$theme-dark-accent: #9E93A1;

$theme-grey: #484848;
$theme-grey-accent: #3a2e3a;

$theme-light-grey: #CBCBCB;
$theme-light-grey-accent: #a2abc1;
