@import "src/assets/scss/_bootstrap/bootstrap-grid.scss";

.layout-floatsidemenu {
  z-index: 1040;
  display: block;
  width: 320px;
  height: 100%;
  position: fixed;
  top: 1.45rem;
  right: -320px;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 10px 40px rgba(0, 0, 0, 0.1);

  &.rtl {
    left: -340px;
    right: unset !important;

    ul.nav.nav-tabs.nav-tabs-highlight.nav-justified.mb-0 {
      padding-right: 0;
    }

    &.opened {
      left: 0;
      right: unset !important;
    }
  }

  .nav.nav-tabs {
    .nav-item .nav-link {
      background: #eee;
      color: #999;
      height: 35px;
      padding: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      &.active {
        background: white;
        color: #333;
      }
    }
  }

  .tab-content {
    height: calc(100% - 57px);
    overflow-y: auto;
  }

  &.opened {
    right: 0;
  }
}

a.nav-link.dropdown-toggle {
  display: flex;
  justify-content: center;
}

a.nav-link.dropdown-toggle::after {
  align-self: center;
}

@include media-breakpoint-down(sm) {
  .floatsidemenu {
    top: 1.9rem !important;
  }
}
