$blue-color: #00BCD4;

.custom-alert {
  background: #ececec;
  background: white;
}

.custom-button {
  border: 1px solid $blue-color !important;
  background: rgba($blue-color, 0.25) !important;
  color: #245d8a !important;
  font-weight: 500 !important;
}


.map-wrapper {
  height: 250px;
}



.dropdown-menu {
  .dropdown-item {
    height: 30px;
    display: flex;
    align-content: center;
  }
}


.material {
  background: white;
  margin-right: 10px;
  height: 36px;
  padding: 0 12px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;

  &:hover {
    background: #EBEBEB;
  }

  &:disabled {

    span,
    i {
      color: #0000008A;
    }
  }

  i,
  span {
    font-size: 13px;
    color: #3367d6;
  }

  i {
    font-size: 18px;
    margin-right: 6px;
  }

  span {
    font-weight: 500;
    text-transform: uppercase;
  }
}



.control-wrapper {
  display: flex;

  .input-wrapper {
    position: relative;

    .icon-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      i {
        font-size: 14px;
        padding-top: 1px;
      }
    }

    input,
    select {
      border-radius: 4px !important;
      padding-left: 30px;
      max-width: 220px;
      width: 100%;
      padding-right: 5px;
      height: 100% !important;
    }
  }

  .btn-wrapper {
    margin-left: 10px;
    display: flex;
    overflow: hidden;

    button {
      cursor: pointer;
      background: #EEEDE9;
      width: 30px;
      outline: none;
      border: none;
      border: 1px solid #ddd;
      border-left: none;
      flex: 1;

      i {
        font-size: 12px;
      }

      &:first-child {
        border-left: 1px solid #ddd;
        border-radius: 4px 0 0 4px;
      }


      &.active {
        background: rgba(#449F4A, 0.3);
        color: #449F4A;
        border-color: rgba(#449F4A, 0.4);
        border: 1px solid #449F4A;

      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}


input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  height: fit-content !important;
  bottom: 3.5px;
}

// table {
//   width: 100%;
// }

// .mat-form-field {
//   margin-right: 12px;
// }

// .spinner-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background-color: #fafafa;
//   box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)
// }

:host ::ng-deep .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.image{
  transition: 1s;
  cursor: pointer;
  position: relative;
}

.ful-img{
  width: 100.11%;
  height: 74.6vh;
  background-color: #110f0fe6;
  // background-color: rgba(0,0,0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.ful-img image{
  width: 90%;
  max-width: 600px;
}

.ful-img span{
  position:absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}


::ng-deep {
.p-datatable table{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
}
::ng-deep {
.p-datatable table::-webkit-scrollbar {
  background-color: red;
  width: 7px; 
  height: 10px;  
  // display: none;  
}
}
// ::-webkit-scrollbar {
//   width: 20px;     /* Tamaño del scroll en vertical */
//     /* Tamaño del scroll en horizontal */
//   display: none;  /* Ocultar scroll */
// }