$active: #6f6f6f;
$green: #4f7b52;
$yellow: yellow;


:host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

[hidden] {
  display: none;
}

.img-container {
  .img-wrapper {
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
    padding-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.control-wrapper {
  position: absolute;
  top: 10px;
  right: 350px;
  display: flex;

  .control {
    cursor: pointer;
    outline: none;
    border: none;
    // height: 65px;
    // width: 65px;
    // margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // background: $active;

    display: flex;
    justify-content: center;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    align-items: center;
    align-content: center;
    padding: 5px 10px;

    border-right: 1px solid #ddd;

    &:first-child {
      border-radius: 2.5px 0 0 2.5px;
    }

    &:last-child {
      border-right: none;
      border-radius: 0 2.5px 2.5px 0;
    }

    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 3px #000;
    color: black;

    i {
      // color: white;
      font-size: 1.2rem;
    }

    span {
      // color: white;
      display: none;
      width: 100%;
      padding-top: 6px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

::ng-deep {
  .custom-bug-icon {
    img {
      transform: scale(.1);
    }
  }

  p-checkbox {
    display: flex;
    align-content: center;

    label {
      margin-bottom: 0;
    }
  }

  .custom-alert {
    text-align: center;
    font-weight: bold;
  }

  .fitosanidad-wrapper {
    background: rgba(0, 0, 0, 0.5);
    border: 3px dashed black;
    font-weight: bold;
    font-size: 14px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    position: fixed;
    text-align: center;
    padding: 5px 10px;
    border-radius: 7.5px;
  }

  .fitosanidad-wrapper:active {
    color: red;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
  }

  .label-first {
    color: white;
    font-size: 16px;
  }

  .label-second {
    color: white;
  }

  .label-sub {
    color: #116FBF;
  }

  .label-first {
    color: white;
    font-size: 16px;
  }

  .label-second {
    color: white;
  }


}

#buttonMapa button {
  background-color: #24a0ed;
}

#buttonMapa::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: rgba(255, 255, 255, 0.8);
  z-index: -1;
  border-radius: 7px;
  transform: translateY(5px);
}

#buttonMapa:active {
  transform: translateY(5px);
}

#buttonMapa:active:before {
  transform: translateY(0);
}

leftPanel {
  background-color: red !important;
}

#icon-cultivo{
  margin-left: 4px;
}
