<div class="content map" [ngClass]="{'loading': mapIsLoading}">
  <ns-map
    [mapData]="centrosDeCostoSeleccionado"
    [mapRoute]="verticesLineas"
    (selectedMarker)="this.openTest($event)"
    #map></ns-map>
</div>

<ng-template nsTemplate="Evaluadores" type="rightPanel">
  <div class="emphasis" data-toggle="collapse" data-target="#fecha-collapse" aria-expanded="false" aria-controls="fecha-collapse">
    <i class="fa mr-1 label-sub"></i>
    <strong class="label-sub">Fechas</strong>
  </div>
  <div class="section-content px-1" [formGroup]="form" id="fecha-collapse">
    <div class="row no-gutters">
      <div class="col ml-2">
        <ns-date-control formControlName="fecha"></ns-date-control>
      </div>
      <div id="buttonMapa" class="col ml-2" [ngClass]="{'d-none': listViewMode}">
        <button type="submit" class="btn btn-primary" (click)="updatedDate($event)">
          <i class="icon-search4"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="emphasis" data-toggle="collapse" data-target="#cultivo-collapse" aria-expanded="false" aria-controls="cultivo-collapse">
    <i class="fa mr-1 label-sub"></i>
    <strong class="label-sub">Evaluadores</strong>
  </div>
  <div class="section-content collapse show" id="cultivo-collapse">
    <p-tree
      [value]="evaluadorFiltro"
      selectionMode="checkbox"
      [(selection)]="evaluadores"
      (onNodeSelect)="evaluadorSeleccionado($event)"
      (onNodeUnselect)="evaluadorUnSeleccionado($event)"></p-tree>
  </div>
</ng-template>

<ng-template nsTemplate="cultivos" type="rightPanel">
  <div class="emphasis" data-toggle="collapse" data-target="#costo-collapse" aria-expanded="false" aria-controls="costo-collapse">
    <i class="fa mr-1 label-sub"></i>
    <strong class="label-sub">Cultivos</strong>
  </div>
  <div class="section-content collapse show" id="costo-collapse">
    <p-tree
      [value]="cultivoFiltro"
      selectionMode="checkbox"
      (onNodeSelect)="cultivoSeleccionado($event)"
      (onNodeUnselect)="cultivoUnSeleccionado($event)"
      [(selection)]="cultivos">
      <ng-template let-cultivo pTemplate="default">
        <a>{{cultivo.cultivo}}</a>
        <i id="icon-cultivo" class="fas fa-leaf"></i>
      </ng-template>
    </p-tree>
  </div>
</ng-template>

<ng-template nsTemplate="centroCostos" type="rightPanel">
  <div class="emphasis" data-toggle="collapse" data-target="#costo-collapse" aria-expanded="false" aria-controls="costo-collapse">
    <i class="fa mr-1 label-sub"></i>
    <strong class="label-sub">Centros de Costo</strong>
  </div>
  <div class="section-content collapse hide" id="costo-collapse">
    <p-tree
      [value]="centrosDeCostoOrdered"
      selectionMode="checkbox"
      [(selection)]="centrosDeCostoSeleccionado">
      <ng-template let-centrocosto pTemplate="default">
        <a (click)="centrarLote($event)">{{centrocosto.centro_costo}}</a>
        <i id="icon-cultivo" class="fas fa-draw-polygon"></i>
      </ng-template>
    </p-tree>
  </div>
</ng-template>
