<ng-template nsTemplate="loteDetails" type="leftPanel">
  <div class="emphasis">
    Lote: {{ selectedCentroCosto?.nombre }}
  </div>
  <div class="sec-content">
    <p>
      <strong>Total de Horas:</strong>
      {{ selectedCentroCosto?.total_horas }}
    </p>
    <p>
      <strong>Horas Hectarea:</strong>
      {{ selectedCentroCosto?.horas_ha }}
    </p>
  </div>
</ng-template>
<ng-template nsTemplate="graphic" type="leftPanel">
  <!-- <div class="emphasis mb-0">Grafico de horas utilizadas por maquinaria</div>

    <div class="sec-content bg-white px-0 pb-4 w-100" style="position: relative; height: 50vh">

    <canvas id="MAQUINARIA" class="chartjs" width="undefined"></canvas>

  </div> -->

  dd{{chartHorasMaquinaData | json}}
  asd {{chartHorasMaquinaLabels | json}}
  <div class="sec-content bg-white px-0 pb-4 w-100" style="position: relative; padding: 0 !important;">
    <ns-chart
      (click)="onBarClick($event.index)"
      type="hbar"
      [labels]="chartHorasMaquinaLabels"
      [datasets]="chartHorasMaquinaData"
      title="Grafico de horas utilizadas por maquinaria">
    </ns-chart>
  </div>

  <!-- <div *ngIf="dataTableDetalleMaquinaria?.length > 0" class="row"> -->
  <!-- style="background-color: cornsilk;" -->
  <!-- <div class="col-md-12"> -->
  <div class="emphasis mt-2">Detalle de maquinaria</div>
  <ns-table-simple
    [header]="headerTableDetalleMaquinaria"
    [data]="dataTableDetalleMaquinaria">
  </ns-table-simple>
  <!-- </div> -->
  <!-- </div> -->
</ng-template>

<div class="content map" [ngClass]="{'loading': mapIsLoading}">
  <!-- <ns-map
    (selected)="selectedMapPolygon($event[0])"
    (deselected)="unselectedMapPolygon()"
    [fillColor]="'#F2A345'"
    [markers]="[]"
    [lat]="latitud"
    [lng]="longitud"
    [data]="dataMapa"></ns-map> -->

  <ns-map [mapData]="centrosDeCosto" (selected)="selectedLoteMap($event)" #map></ns-map>
</div>

<ng-template nsTemplate="rangoFecha" type="rightPanel">
  <div class="emphasis" data-toggle="collapse" data-target="#reporte-collapse" aria-expanded="false" aria-controls="reporte-collapse">
    <i class="fa mr-1"></i>
    Rango de Fecha
  </div>
  <div class="section-content collapse show" id="reporte-collapse">
    <div class="row no-gutters">
      <div class="col-6">
        <input type="month" class="form-control" (input)="consultarPorFecha()" #date1 />
      </div>
      <div class="col-6">
        <input type="month" class="form-control" (input)="consultarPorFecha()" #date2 />
      </div>
    </div>
  </div>
</ng-template>
<ng-template nsTemplate="centrosCosto" type="rightPanel">
  <div class="emphasis" data-toggle="collapse" data-target="#centro-collapse" aria-expanded="false" aria-controls="centro-collapse">
    <i class="fa mr-1"></i>
    Centros de Costo
  </div>
  <div class="section-content collapse show" id="centro-collapse">
    <p-tree
      [value]="centrosDeCostoOrdered"
      selectionMode="checkbox"
      [(selection)]="centrosDeCostoSeleccionado"
      (onNodeSelect)="centroSeleccionado($event)"
      (onNodeUnselect)="centroSeleccionado($event)"></p-tree>
    <!-- (onNodeSelect)="centroDeCostosSelect($event)"
      (onNodeUnselect)="centroDeCostosUnselect()" -->
  </div>
</ng-template>
<ng-template nsTemplate="maquinaria" type="rightPanel">
  <div class="emphasis" data-toggle="collapse" data-target="#maquinaria-collapse" aria-expanded="false" aria-controls="maquinaria-collapse">
    <i class="fa mr-1"></i>
    Maquinaria
  </div>
  <div class="section-content collapse show" id="maquinaria-collapse">
    <!-- (onChange)="onCheckedMaquinaria()" -->
    <p-checkbox
      name="groupname"
      class="d-block mb-1"
      [ngClass]="{'disabled': !availableMaquinariasList.includes(maquinaria.cod_maq.trim())}"
      [disabled]="!availableMaquinariasList.includes(maquinaria.cod_maq.trim())"
      [label]="maquinaria.maquinaria"
      *ngFor="let maquinaria of maquinarias"
      [value]="maquinaria.cod_maq.trim()"
      [(ngModel)]="maquinariasSelected">
    </p-checkbox>
  </div>
</ng-template>
