<div class="container" id="spotlight_wrapper" [hidden]="!visible">
  <div class="spotlight-input">
    <label for="txtSpeechSearchMovieName">
      <i class="fa fa-search"></i>
    </label>
    <input type="text" name="txtSpeechSearchMovieName" id="txtSpeechSearchMovieName"
      placeholder="{{'Búsqueda Rápida' | translate}}" [(ngModel)]="speechData" #spotlight>
    <button name="btnActivateSpeechSearchMovie" id="btnActivateSpeechSearchMovie" (click)="microOn()">
      <i class="fas fa-microphone" *ngIf="!listening"></i>
      <div class="boxContainer" *ngIf="listening">
        <div class="box box1"></div>
        <div class="box box2"></div>
        <div class="box box3"></div>
        <div class="box box4"></div>
        <div class="box box5"></div>
      </div>
    </button>
  </div>
</div>
