<form action="" method="post" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="false" class="w-100" [ngClass]="{'form-loading': this.isLoading}">
  <div class="row">
    <div class="col-md-12">
      <ns-group-control>
        <ns-label-control>{{ 'Parámetro' | translate }}</ns-label-control>
        <ns-input-control formControlName="parametro"></ns-input-control>
      </ns-group-control>
    </div>
    <div class="col-md-6">
      <ns-group-control>
        <ns-label-control>{{ 'Descripción' | translate }}</ns-label-control>
        <ns-input-control formControlName="descripcion"></ns-input-control>
      </ns-group-control>
    </div>
    <div class="col-md-6">
      <ns-group-control>
        <ns-label-control>{{ 'Valor por defecto' | translate }}</ns-label-control>
        <ns-input-control formControlName="valordefecto"></ns-input-control>
      </ns-group-control>
    </div>
  </div>
</form>
